node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Attached assets
attached_assets/