modules = ["nodejs-20", "web"]
run = "npm run dev"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-25_05"
